.search_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 11PX 0;

    .search_inputc {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 8PX;
        border-radius: 18PX;
        background: #F5F5F5;
        font-size: 14PX;
        flex: 1;
        margin-left: 15PX;


    }

    .input_icon {
        color: #BEBEBE;
    }

    .search_inputc_i {
        color: #BEBEBE;
    }

    .search_inputc_i::placeholder {
        color: #BEBEBE;
    }
}